<%# <%= simple_form_for(@list) do |f| %>
  <%# <%= f.error_notification %>
  <%# <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <%# <div class="form-inputs"> %>
    <%# <%= f.input :name %>
  <%# </div> %>

  <%# <div class="form-actions">
    <%# <%= f.button :submit %>
  <%# </div> %>

  <%# <div>
  <%# <%= link_to "Back to lists", lists_path %>
<%# </div> %>
<%# <% end %>


<div class="container py-5">
  <div class="row justify-content-center">
    <div class="col-12 col-md-6 col-lg-5">
      <div class="bg-white p-5 rounded shadow-sm border">
        <h2 class="fw-bold mb-4 text-center">Créer une nouvelle liste</h2>

        <%= simple_form_for(@list) do |f| %>
          <%= f.error_notification %>

          <div class="form-inputs mb-4">
            <%= f.input :name,
                        label: "Nom de la liste",
                        placeholder: "ex: Films d'horreur, Classiques...",
                        input_html: { class: "rounded-pill py-2 px-3" } %>
            <%= f.input :photo,
                        as: :file,
                        label: "Image de couverture",
                        input_html: { class: "form-control rounded-pill" } %>
          </div>

          <div class="form-actions d-grid gap-2">
            <%= f.button :submit, "Enregistrer la liste", class: "btn btn-success rounded-pill py-2 fw-bold" %>
            <%= link_to "Annuler", root_path, class: "btn btn-outline-secondary rounded-pill py-2" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
