<%# <%= simple_form_for [@list, @bookmark] do |f| %> 
  <%# <%= f.association :movie, prompt: "Choisissez un film", collection: Movie.all.order(:title) %> %>
  <%# <%= f.input :comment, placeholder: "Pourquoi ce film ?" %>
  <%# <%= f.submit "Ajouter au signet", class: "btn btn-primary" %>
<%# <% end %>

<div class="container py-5">
  <div class="row justify-content-center">
    <div class="col-12 col-md-6">
      <div class="bg-white p-5 rounded shadow-sm border">
        <h2 class="fw-bold mb-4">Add a movie to <%= @list.name %></h2>

        <%= simple_form_for [@list, @bookmark] do |f| %>
          <div class="form-inputs mb-4">
            <%# Menu déroulant propre %>
            <%= f.association :movie,
                              prompt: "Select a movie",
                              collection: Movie.all.order(:title),
                              input_html: { class: "rounded-pill" } %>

            <%# Champ commentaire %>
            <%= f.input :comment,
                        placeholder: "Enter a short comment",
                        input_html: { class: "rounded-4" } %>
          </div>

          <div class="form-actions d-grid gap-2">
            <%# Bouton vert cohérent avec le reste %>
            <%= f.submit "Add movie", class: "btn btn-success rounded-pill" %>
            <%= link_to "Cancel", list_path(@list), class: "btn btn-outline-secondary rounded-pill mt-2" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
